---
import '../styles/style.css'
import { useStoryblokApi} from '@storyblok/astro'

export interface articleTeaserItemProps {
  link?: any,
  articleImage?: any,
  headline?: string,
  text?: string,
}
export interface article {
  articleItem?: articleTeaserItemProps[],
}

let articles = []

const storyblokApi = useStoryblokApi()

const {data} = await storyblokApi.get(`cdn/stories`, {
  content_type: 'article',
  version:
  (import.meta.env.STORYBLOK_IS_PREVIEW || process.env.STORYBLOK_IS_PREVIEW) === "yes"
  ? 'draft'
  : 'published'
})
articles = data.stories
---

<section class="popular-articles">
  {
    articles.map((item: any, index: any) =>
      <a class="popular" href={item.content.link.cached_url}><img src={item.content.image.filename} alt={item.content.headline} />
        <div class="content">
        <span>{(index + 1).toString().padStart(2, '0')}</span>
        <h3>{item.content.headline}</h3>
        <p>{item.content.text}</p>
      </div>
      </a>
  )
  }
</section>
<style>

.popular-articles {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 40px;
  gap: 30px;
}

.popular {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}
.popular img {
  height: 110px;
  margin-right: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content span {
  font-size: var(--fs-700);
  font-weight: 700;
  color: var(--soft-red);
}

.content h3 {
  font-size: var(--fs-400);
  margin: 0;
  cursor: pointer;
  color: var( --very-dark-blue);
}
.content h3:hover {
  color: var(--soft-red);
}

.content p {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

@media screen and (max-width: 475px) {
  .popular-articles {
    display: block;
    padding: 0;
  }
  .popular {
    display: flex;
    align-items: center;
  }
  .popular a {
    padding: 0;
  }
  .popular a img {
  height: 100%;
}
}
</style>